<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |goal|}}
    <tr>
      <td>{{goal.title}}</td>
      <td>{{goal.score}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>