<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |person|}}
    <tr>
      <th>{{person.firstName}}</th>
      <td>{{person.lastName}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>